<div class="egész">
  <div class="emel">
    <h1 class="cim" id="fel">LAVILL Esk Ménfőcsanak</h1>
    <h1 class="cim2">Csapatok</h1>
    <br />
  </div>

  <div class="alcim">
    <h2 class="alcim" id="felnott">Felnőtt csapat</h2>
  </div>
  <!-- <img class="csapatkep" src="images/KeszKepek/Felnőtt_Csapat.JPG" alt=""> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-6 col-md-10"></div>
    </div>
    <div class="row">
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Nemes Ferenc.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Nemes Ferenc (edző)</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Kormos Tamás.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Kormos Tamás (kapus&nbsp;edző)</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Bartal Kristóf.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Bartal Kristóf</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Bergendi Máté.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Bergendi Máté</figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Buruzs Barnabás.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Buruzs Barnabás</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Béres Krisztián Mátyás.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Béres Krisztián Mátyás</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Fekete Szabolcs.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Fekete Szabolcs</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Horváth Andorás.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Horváth Andorás</figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Kalmár Péter.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Kalmár Péter</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Kirják Henrik.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Kirják Henrik</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Korsós Dominik.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Korsós Dominik</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Kovács Péter.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Kovács Péter</figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Németh Milán.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Németh Milán</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Puskás Patrik.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Puskás Patrik</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Simon Milán.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Simon Milán</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Vajda Márk.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Vajda Márk</figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Turi Dániel.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Turi Dániel</figcaption>
        </figure>
      </div>
      <div class="card card col-lg-3 col-md-6 col-sm-6">
        <figure class="textover">
          <img
            class="card-img-top"
            src="images/2025/Varga Raul.jpg"
            alt="Card image"
            style="width: 100%"
          />
          <figcaption>Varga Raul</figcaption>
        </figure>
      </div>

      <div
        class="card col-lg-3 col-md-6 col-sm-6 invisible"
        style="width: 100%"
      ></div>
      <div
        class="card col-lg-3 col-md-6 col-sm-6 invisible"
        style="width: 100%"
      ></div>
    </div>
  </div>
</div>
<a (click)="up()">
  <div class="nyil">
    <ion-icon name="arrow-up-outline"></ion-icon>
  </div>
</a>
