<div class="emel">
  <h1 class="cim">LAVILL Esk Ménfőcsanak</h1>
  <h1 class="cim2">Vezetőség</h1>
  <div class="container elso">
    <div class="row">
      <div class="card col-lg-3 col-md-6 col-sm-12">
        <img
          class="card-img-top"
          src="images/csapatok/Felnőtt_2024/Turbék_István.JPG"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">TURBÉK ISTVÁN</h4>
          <p class="card-text">Elnök</p>
        </div>
      </div>

      <div class="card col-lg-3 col-md-6 col-sm-12">
        <img
          class="card-img-top"
          src="images/IMG-20211224-WA0178.jpg"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">KOVÁCS ÁGOTA</h4>
          <p class="card-text">Elnökhelyettes</p>
        </div>
      </div>

      <div class="card col-lg-3 col-md-6 col-sm-12">
        <img
          class="card-img-top"
          src="images/KeszKepek/Pintér_Lajos.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">PINTÉR LAJOS</h4>
          <p class="card-text">Elnökségi tag</p>
        </div>
      </div>
      <div class="card col-lg-3 col-md-6 col-sm-12">
        <img
          class="card-img-top"
          src="images/pngegg (8).png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">VARGA BALÁZS</h4>
          <p class="card-text">Elnökségi tag</p>
        </div>
      </div>
      <div class="card col-lg-3 col-md-6 col-sm-12">
        <img
          class="card-img-top"
          src="images/pngegg (8).png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">TÁLAS GERGŐ MÁTÉ</h4>
          <p class="card-text">Elnökségi tag</p>
        </div>
      </div>
    </div>
  </div>
</div>
