.container {
  margin-left: auto;
  margin-right: auto;
}

.ember {
  width: 10%;
}
.card {
  background: rgba(20, 165, 165, 0.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}
.card-img-top,
.card {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-title,
.card-text {
  text-align: center;
}
.card {
  margin-top: 20px;
  height: 50%;
}
.card-img-top {
  margin-top: 20px;
}
.elso {
  margin-top: 90px;
}

.külön {
  width: 50%;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .külön {
    width: 100%;
  }
}
