.tamogatok {
  margin-top: 90px;
  align-items: center;
  text-align: center;
}
.tamogatokep2 {
  display: flex;
  margin-top: 20px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.tamogatokep3 {
  display: flex;
  margin-top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.tamogatokep4 {
  font-size: 100px;
}
@media screen and (max-width: 460px) {
  .tamogatokep3 {
    width: 150px;
  }
  .tamogatokep4 {
    font-size: 50px;
  }
}
@media screen and (max-width: 650px) {
  .tamogatokep2 {
    height: 80px;
  }
}
@media screen and (max-width: 400px) {
  .tamogatokep2 {
    height: 30px;
  }
}
