<div class="emel">
  <h1 class="cim">LAVILL Esk Ménfőcsanak</h1>
  <h1 class="cim2">Támogatók</h1>
  <div class="tamogatok">
    <img class="tamogatokep2" src="images/tamogatok/lavill-kft.png" alt="" />
    <img
      class="tamogatokep3"
      src="images/tamogatok/SZQlong-masolata.jpg"
      alt=""
    />
    <img
      class="tamogatokep2"
      src="images/tamogatok/bedo_pekseg_logo.jpg"
      alt=""
    />
    <img class="tamogatokep2" src="images/tamogatok/bandf.png" alt="" />
    <img class="tamogatokep2" src="images/tamogatok/ADEXGO-logo.png" alt="" />
    <img
      class="tamogatokep2"
      src="images/tamogatok/ALCUFER.LOGOG.KICSI.jpg"
      alt=""
    />
    <img class="tamogatokep2" src="images/tamogatok/Győr_logo.png" alt="" />
    <img class="tamogatokep2" src="images/tamogatok/robo.tech.png" alt="" />
    <img class="tamogatokep2" src="images/tamogatok/herold.jpg" alt="" />
    <img class="tamogatokep2" src="images/tamogatok/laguna.svg" alt="" />
    <img
      class="tamogatokep3"
      src="images/tamogatok/gyorszol-logo-transparent.png"
      alt=""
    />
    <img
      class="tamogatokep3"
      src="images/tamogatok/20246047_1990116661259348_648253412230113449_n.jpg"
      alt=""
    />
    <img
      class="tamogatokep3"
      src="images/tamogatok/SZQlong-masolata.jpg"
      alt=""
    />
    <img
      class="tamogatokep3"
      src="images/tamogatok/whb-logo-webbel-pan.jpg"
      alt=""
    />
    <img class="tamogatokep3" src="images/tamogatok/eurokardan.png" alt="" />
    <img
      class="tamogatokep3"
      src="images/tamogatok/MezSport Logo1.png"
      alt=""
    />
    <img class="tamogatokep3" src="images/tamogatok/pv-logo.png" alt="" />
    <img
      class="tamogatokep3"
      src="images/tamogatok/dobos-box-logo-02.svg"
      alt=""
    />
  </div>
</div>
