<div class="navigation" id="navbar">
  <ul class="ul">
    <li class="nem-mobile">
      <span class="icon">
        <img class="navbarkep" src="images/logo.png" alt="" />
      </span>
      <span class="title"></span>
    </li>
    <li
      class="list nem-mobile"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="">
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Nyitó oldal</span>
      </a>
    </li>
    <li class="list nem-mobile" routerLinkActive="active">
      <a routerLink="tortenet">
        <span class="icon">
          <ion-icon name="school-outline"></ion-icon>
        </span>
        <span class="title">Klubtörténet</span>
      </a>
    </li>
    <li class="list nem-mobile" routerLinkActive="active">
      <a routerLink="csapat">
        <span class="icon">
          <ion-icon name="football-outline"></ion-icon>
        </span>
        <span class="title">Csapatok</span>
      </a>
    </li>
    <li class="list nem-mobile" routerLinkActive="active">
      <a routerLink="meccsek">
        <span class="icon">
          <ion-icon name="calendar-outline"></ion-icon>
        </span>
        <span class="title">Mérkőzések</span>
      </a>
    </li>
    <li class="list nem-mobile" routerLinkActive="active">
      <a routerLink="kapcsolat">
        <span class="icon">
          <ion-icon name="call-outline"></ion-icon>
        </span>
        <span class="title">Kapcsolat</span>
      </a>
    </li>
    <li class="list nem-mobile" routerLinkActive="active">
      <a routerLink="vezetoseg">
        <span class="icon">
          <ion-icon name="people-outline"></ion-icon>
        </span>
        <span class="title">Vezetőség</span>
      </a>
    </li>
    <li class="list nem-mobile" routerLinkActive="active">
      <a routerLink="tamogatok">
        <span class="icon">
          <ion-icon name="happy-outline"></ion-icon>
        </span>
        <span class="title">Támogatók</span>
      </a>
    </li>
    <li class="list nem-mobile" routerLinkActive="active">
      <a routerLink="dokumentumok">
        <span class="icon">
          <ion-icon name="document-attach-outline"></ion-icon>
        </span>
        <span class="title">Dokumentumok</span>
      </a>
    </li>
  </ul>
</div>
<div class="topnav">
  <div class="navopen">
    <p class="active2">
      ESK Ménfőcsanak<ion-icon
        class="menu-outline"
        name="menu-outline"
      ></ion-icon>
    </p>
    <a routerLink="">Nyitó oldal</a>
    <a routerLink="tortenet">Klubtörténet</a>
    <a routerLink="csapat">Csapatok</a>
    <a routerLink="meccsek">Mérkőzések</a>
    <a routerLink="kapcsolat">Kapcsolat</a>
    <a routerLink="vezetoseg">Vezetőség</a>
    <a routerLink="tamogatok">Támogatók</a>
    <a routerLink="dokumentumok">Dokumentumok</a>
  </div>
</div>
<router-outlet></router-outlet>
<div id="prograssbar"></div>
<div id="scrollPath"></div>
<script type="text/javascript">
  let progress = document.getElementById("prograssbar");
  let TotalHeight = document.body.scrollHeight - window.innerHeight;
  window.onscroll = function () {
    let progressHeight = (window.pageYOffset / TotalHeight) * 100;
    progress.style.height = progressHeight + "%";
  };
</script>
