<div class="emel">
  <h1 class="cim">LAVILL Esk Ménfőcsanak</h1>
  <h1 class="cim2">Klubtörténet</h1>
  <br />
  <div class="szoveg">
    <p><b> Győr – Ménfőcsanak sporttörténetének krónikája</b></p>
    <p>
      Az elmúlt 60 évben, a becslések szerint az ezret is meghaladta azok száma,
      akik Ménfőcsanak színeiben sportoltak. Győrben a századforduló elején
      élénk sportélet folyt. A városnak kiváló evezősei, sakkozói, tornászai,
      vívói, atlétái, teniszezői és lövészei voltak. 1904-től a labdarúgó
      sportot az ETO kezdte képviselni.
    </p>
    <p>
      A század első évtizedeiben sorra alakultak a győri klubok, melyek hatással
      voltak a közelebbi, távolabbi településekre is. Ennek köszönhető, hogy az
      akkori Csanakon, és Ménfőn élő fiatalok és barátaik lakóhelyükön szerettek
      volna sportolni. Törekedtek arra, hogy a győri példa szerint Csanakon is
      sportklub alakuljon. 1885-től volt Tűzoltóegyesület. 1908-ben alakult a
      Gazdakör. 1920-tól indult a népfőiskola, ami a sportéletet elképzelhetővé
      tette. A ménfőcsanaki sportélet kezdetét 1923-tól számítjuk, ekkor alakult
      a Törekvés Sport Club. A futballcsapat segédekből, „tanonczok”-ból
      alakult.
    </p>
    <p>
      A testedzés, vagy ahogy azt akkor mondták „testgyakorlás” csak iskolai
      keretek között történt, a katonaságra történő felkészülést szolgálta.
    </p>
    <p>
      Ménfő – Csanakfalu – Csanakhegy község legrégebbi írásos emléke a
      testedzéssel kapcsolatosan 1876-ból, Bády Izidor plébános tollából maradt
      fenn. Az 1910-es év második felében rongylabdát rugdosó gyerekek tűntek
      fel a csanakfalui templom előtt. 1903-ban már létezett a Győri Torna
      Egylet futballcsapata, és 1904-ben alakult a Győri Egyetértés Torna
      Osztály csapata.
    </p>
    <p>
      A csanaki gyerekeknek később már kicsinek bizonyult a templom előtti tér,
      a Kerek-tó melletti nagyréten folytatták a játékot, ahol már kapufát is
      állítottak. Ez volt a kezdet, ami hatással volt a későbbi futballcsapat
      megalakulásához.
    </p>
    <p>
      Feltevések szerint az első futball-labda, 1894-ben került az országba,
      Angliából. 1901-ben megalakul a Magyar Labdarúgó Szövetség, mely tömöríti
      az egyesületeket. Az 1920-as évek elején több csanaki fiú került a győri
      iparosok műhelyébe tanoncnak, és itt szereznek ismereteket a futballról.
      Csanakhoz legközelebb a DAC-pálya esett, így vasárnap délutánonként a
      csanaki fiúk is feltűntek a nézőtéren. Nagy Antal, Bugovics János, Váczi
      József tanoncok elhatározták, hogy ők is játszani fognak. Váczi József
      szivaccsal bélélt rongylabdát is készített. Nagy Antal csizmadia és
      Bugovics János cipésztanonc vállalták, hogy ha sikerül bőrt szerezni, ők
      megvarrják a labdát. A labda elkészült, és a „nagyokhoz”, a DAC
      játékosokhoz hasonlóan kezdték rúgni a labdát. Az idő múlásával, a már
      „felszabadult” segédek lettek, dressz beszerzését tervezgették.
      Összekuporgatott pénzükön meg tudták venni a dresszeket, nadrág nélkül. A
      DAC kék-fehér színét követték. Nem volt akadály, most már más csapattal is
      megmérkőzhettek. A futballcsapat találkozóhelye Krokkerék Petőfi utcai
      háza lett, a félkész előszobába tárolták a felszereléseiket is.
    </p>
    <p>
      Első mérkőzésüket a feltételezések szerint vidéki ellenféllel a győri II.
      kerület SC ellen volt, a Marcal-pályán, ahol kikapott ugyan a Törekvés
      gárda, de az ellenfél elismerően nyilatkozott a csanaki fiúkról. Ez
      további biztatást adott a csapatnak. A környéken híre ment a csanaki
      futballistáknak, akiket vegyes érzelmekkel fogadott a falu lakossága. A
      megalakulás időszakában így beszéltek róluk: „Furcsa emberek ezek a
      sportosok, elrúgják a footballt, majd futnak utána.”
    </p>
    <p>
      A névválasztás után a futballisták megválasztották maguk közül az
      intézőjüket, Pusztai Istvánt, és csapatkapitányukat Nagy Antal
      csapattársuk személyében.
    </p>
    <p>
      Ahhoz, hogy felszerelést tudjanak venni pénzre volt, szükség. Az
      összeadott pénzből csak a labdára futotta. Mulatságot rendeztek, ami nem
      hozta meg a várt eredményt. Unger József látva a fiatalok lelkesedését, a
      vendéglője kisteremét felajánlotta a csapatnak. Így kialakult a
      törzshelyük. Egy összehívott gyűlés alkalmával megválasztották a „Club”
      elnökének, Marosi György szabómestert. Később a dresszek megvételére is
      sor került. A dressz színe: „két-piros”, lelkesítette a pártolókat, és a
      csapat tagjait is.
    </p>
    <p>
      A Marcal-parti pályát rövid időre otthagyta a csapat, és a Raffinger-
      rétből bérelt egy darabot „futballtérnek”. Ez viszont kicsinek bizonyult,
      így az új pálya a Kanász-erdőnél a disznólegelőn, a kút melletti térségben
      lett.
    </p>
    <p>
      A csapat az Unger- vendéglő kistermében öltözött át, és innen indultak a
      Kanász-erdő melletti pályára.
    </p>
    <p>Az alakulás időpontjában a Törekvés SC játékosai:</p>
    <img class="történelemkép" src="images/RégiKepek/1923_Csapat.jpg" alt="" />
    <ul class="tortlist">
      <li>Szabó Ferenc (kapus),</li>
      <li>Váczi József,</li>
      <li>Nagy Antal (csapatkapitány),</li>
      <li>Krokker István,</li>
      <li>Pusztai István (intéző),</li>
      <li>Tenk László,</li>
      <li>Csapó Imre,</li>
      <li>Krokker Imre,</li>
      <li>Bugovics János,</li>
      <li>Tóth József,</li>
      <li>Thullner Kálmán,</li>
      <li>Markó Vince,</li>
      <li>Dénes László,</li>
      <li>Takács Sándor,</li>
      <li>Horváth József,</li>
      <li>Fekete László.</li>
    </ul>
    <p>
      A csapat pártolói és tagjai havi 40 fillért fizettek, a meccseken az
      adományokat tányérozás formájában gyűjtötték a nézőktől és a pártolóktól.
      A Kanász-erdő melletti pálya remek helynek bizonyult. A közeli ivókútból
      lehetőség nyílt mosdásra és ivásra, és az Unger- vendéglőtől is könnyen
      elérhető volt. Az SC- nek sikerült a vezetőségbe beválasztani Molnár Béla
      községi jegyzőt, aki rendszeresen látogatta a Törekvés meccseit.
    </p>
    <p>
      Ahogy a leventemozgalom beindult, vetélytársa lett a Törekvésnek a
      Levente. A község elöljárósága a Levente-csapatot szerette volna előtérbe
      helyezni, azonban a Törekvés nem hagyta magát. Az Unger- vendéglőből a
      csendőrök egy alkalommal elvitték a Törekvés ott tárolt, féltve őrzött
      felszerelését a Leventéknek. A helyzetet felismerve, néhányan átmentek
      futballozni a Leventébe, de egy alkalmi csapata azért megmaradt a
      Törekvésnek, az alábbi tagokkal:
    </p>
    <img class="történelemkép" src="images/RégiKepek/1925_Csapat.jpg" alt="" />
    <ul class="tortlist">
      <li>Doktor József (kapus),</li>
      <li>Fábián József,</li>
      <li>Mező Dénes,</li>
      <li>Nagy Antal,</li>
      <li>Giczi István,</li>
      <li>Krokker Mihály,</li>
      <li>Bugovics János,</li>
      <li>Dénes László,</li>
      <li>Varga Imre,</li>
      <li>Tenk László,</li>
      <li>Takács Sándor.</li>
    </ul>
    <p>
      Egy alkalommal sor került egy Törekvés-Levente meccsre is, nem kis
      bonyodalom közepette. A leventemozgalmon belül a futballon kívül, a torna-
      és gúlagyakorlatok jelentették a sportot. A Marcal-parton volt a leventék
      futball- és tornapályája. 1935-ben a Marcal-parti réten nagyszabású
      tornabemutatót szerveztek. Az iskolások az addig még ismeretlen DÁN-
      tornát mutatták be, nagy sikerrel.
    </p>
    <p>
      1936-ig létezett a Kanász- erdőnél a futballpálya. Egy alkalmi meccs
      előtt, a Bezerédj- bírtok bérlője jóvoltából, a kapufákat kiásatták. A
      kapufákat a Marcal- parton leásták, és a meccset lejátszották.
    </p>
    <p>
      Az alkalmi meccsek közül, egy 1937-ben játszódott a Marcal- parti pályán.
      A Nádorvárosi Viktória volt az ellenfél, a csanaki fiúk 9: 0-ra nyertek. A
      hazai csapatban játszott:
    </p>
    <p>
      <img
        class="történelemkép"
        src="images/RégiKepek/1927_Csapat.jpg"
        alt=""
      />
    </p>

    <ul class="tortlist">
      <li>Venesz András (kapus),</li>
      <li>Schwarc József (később ETO játékos),</li>
      <li>Németh Dénes,</li>
      <li>Raffinger András,</li>
      <li>Újvári László,</li>
      <li>Varga Károly,</li>
      <li>Erdődi Tihamér,</li>
      <li>Varga István,</li>
      <li>Varga Imre.</li>
    </ul>
    <p>
      A csapat gólkirálya, 3 góllal Varga Károly volt. A nehéz körülmények
      között induló Törekvéshez hasonlóan, egy újabb generáció csapata indult,
      amely a Pauzni- csapat néven lett ismert. 1940-41-42-ben a helyi
      labdarúgást a Pauzni- csapat képviselte. 1940-ben már szerelése is volt a
      csapatnak. A játékosok összeadott 50 fillérjéből volt lehetőség a használt
      zöld-fehér csíkos mezek megvásárlására.
    </p>
    <p>Az 1941-es csapat:</p>
    <img class="történelemkép" src="images/RégiKepek/1941_Csapat.jpg" alt="" />
    <ul class="tortlist">
      <li>Pauzni Antal (kapus),</li>
      <li>Schell Ottó,</li>
      <li>Venesz László,</li>
      <li>Kovács Ferenc,</li>
      <li>Pauzni János,</li>
      <li>Mező Imre,</li>
      <li>Reizer Imre,</li>
      <li>Tóth István,</li>
      <li>Ventúra Sándor,</li>
      <li>Pintér László,</li>
      <li>Pauzni Zoltán.</li>
    </ul>
    <p>
      Szervezett keretek között is játszott a csapat. A környékbeli csapatokkal
      együtt, a csanaki csapat is 5 pengőt adott össze, amiből vándorkupát
      vásároltak, amit a kupában játszó csapatok közül mindig a bajnok kapott
      meg. Egy alkalommal a Pauzni- csapat is elnyerte a kupát. Kezdetben a
      Vulcz- vendéglő, később az Unger- vendéglő volt a csapat törzshelye. A
      csapatnak zenekar is alakult, az egyik jelentős anyagi támogató Pauzni
      Antal volt. A levente mozgalom erősödésével, a lelkes csapat feloszlani
      kényszerült, helyüket a Levente- csapat vette át. Venesz Ferenc
      leventeparancsnok is a Levente- csapatot támogatta. Így 1942 őszén
      megalakult a leventék csapata. A Pauzni- csapat szerelése a leventéké
      lett. Ménfőcsanakon a II. világháború utolsó éveiben labdarúgásra csak a
      Levente- csapat adott lehetőséget. Illés Gyula malomtulajdonos, támogatva
      a leventéket, új szerelést vett a csapatnak. Itt kezdte
      labdarúgó-pályafutását Ménfőcsanak egyik kiváló egyénisége Vulcz Imre
      (Peti), aki közel 20 évig volt aktív játékos.
    </p>
    <p><b>A második kezdet</b></p>
    <p>
      A II. világháború után, a labdarúgás is újjá éledt Ménfőcsanakon is.
      Elsőnek a középiskolások kezdték rúgni a labdát. A „Diák- csapat” néhány
      játékosa később is aktív sportolója maradt, a községnek. 1946-ban már két
      csapata is volt Ménfőcsanaknak, a MADISZ, és a SZIM szervezet keretében. A
      MADISZ az Unger- vendéglőt, a SZIM a Vulcz- vendéglőt választotta
      törzshelyéül. A SZIM csapat lelkes támogatója volt, Molnár Béla jegyző.
    </p>
    <p>
      1946-ban a gyimróti fiatalok egy serleget ajánlottak fel a kupamérkőzésre.
      A kupába Gyimrót, Ménfőcsanak, Szerecseny, Kajárpéc, Nagybarát,
      Győrszemere futballcsapati neveztek. Később Nagybarát és Győrszemere
      csapati visszaléptek. Ménfőcsanakot a SZIM képviselte, a csapat szerelése
      a Pauzni – csapat, zöld- fehér csíkos meze volt. A kupában jól szerepelt a
      ménfőcsanaki csapat, a döntő mérkőzés Gyimróttal volt. 3: 2-es győzelemmel
      a SZIM-esek elnyerték a felajánlott serleget.
    </p>
    <p>
      Úgy látszott a ménfőcsanaki két csapat fúziójából, egy jó képességű csapat
      állítható össze. Így 1947 tavaszán megalakult a községi csapat, de
      mellette továbbra is működött egy SZIM- csapat is. A község futballcsapata
      MSE (Ménfőcsanki Sport Egyesület) néven alakult a csanaki iskolában
      megtartott összejövetelen.
    </p>
    <p>
      Az egyesület elnöke Rendi Andor csanaki r.k. plébános lett, az intézői
      teendőket Csehy József tanár végezte. Később Rigier Imre és Kállay Gyula,
      a MADISZ- csapat vezetői is csatlakoztak az MSE-hez. Később Kállay Gyula,
      edző is volt. Az MSE futballcsapata is a Marcali-parti pályán kezdte
      meccseit, később a Földosztó Bizottságtól pályának alkalmas helyet
      igényeltek. Az egyesület anyagi kerete igen szűk volt. Illés Gyula malmos
      adott 1000 Ft-ot kölcsön a csapatnak, így sikerült megvásárolni a kék
      színű, fehér szegélyes mezeket és nadrágokat.
    </p>
    <p>Az MSE megalakulásakor a játékosok voltak:</p>
    <img class="történelemkép" src="images/RégiKepek/1946_Pálya.jpg" alt="" />
    <img class="történelemkép" src="images/RégiKepek/1946_Csapat.jpg" alt="" />
    <ul class="tortlist">
      <li>Torna Sándor (kapus)</li>
      <li>Nagy István</li>
      <li>Kocsis Lajos</li>
      <li>Kurucz Zoltán</li>
      <li>Venesz László</li>
      <li>Németh István</li>
      <li>Nagy Lajos</li>
      <li>Németh József</li>
      <li>Vulcz Imre (Peti)</li>
      <li>Varga Imre</li>
      <li>Varga Károly</li>
    </ul>
    <p>
      1947 nyarán a Bezerédj- kertben megvolt az új pálya helye. A kastélykerti
      pályán volt Ménfőcsanakon először háló a kapun. A hálót a leásott fa
      oszlopokra feszítették. Az új pályán az első mérkőzés Szentiván egyik
      csapata ellen volt, és győzelemmel végződött.
    </p>
    <p>
      1947 őszétől a meccsekről már írásos nyom is maradt. Szakács Pál vendéglős
      teherautója, vagy Váczi József vontatója szállította a csapatot és a
      híveket a vidéki mérkőzésekre, vagy vonattal, kerékpárral, néhányszor
      lovas kocsival mentek.
    </p>
    <p>
      Egy alkalommal sorkerült MSE-SZIM mérkőzésre is. 1948 nyarán a
      pártegyesüléskor a SZIM csapata megszűnt. Később már szervezetten folytak
      a mérkőzések, ahogy akkor nevezték „érmes” mérkőzéseket játszottak.
    </p>
    <p>
      Az MSE 1947-48-as ellenfelei közül néhány: MÁVAG, a Győrszentiváni Petőfi,
      a Gyárvárosi Barátság, a Hutter, vidékre a Téti Barátság SE-hez, a Pápai
      MÁV DMTE-hez, és a Grábgyár TK-hoz utazott a MSE.
    </p>
    <p>
      A mérkőzéseken jól helytálltak a ménfőcsanaki fiúk, a csapat
      szurkolótábora egyre nőtt. Nagy sportélményt ígért, és hozott 1948.
      október 3-án az MSE-Győri Vasas ETO „hírverő” mérkőzése a ménfőcsanaki
      pályán. A mérkőzést Molnár Béla jegyző, és dr. Tóth Ferenc orvos
      szervezték. Az első félidő eredménye 6: 0 volt az ETO javára. A
      végeredmény 11:2 lett az ETO javára. A két lőtt gól, tisztes helytállást
      jelentett a hazaiak számára.
    </p>
    <p>
      1948 őszén egy mási nagy tétmérkőzés volt a ménfőcsanaki pályán a Téti
      EPOSZ ellen. A szurkolósereg szomorúan vette tudomásul, hogy az első
      félidőben az ellenfél 2: 0-ra vezetett. A meccset az MSE 3: 2-re nyerte, a
      mérkőzés nagy ünnepséggel zárult.
    </p>
    <p>
      Az 1949-es tavaszi szezont Pápán a Szakszervezeti MTE II. ellen 3: 3-mal
      kezdte az MSE. Az előző évekhez képest már új neveket is találni a
      csapatban, ekkor kezdett futballozni: Süveges László, Sári Jenő, Németh
      András, Viland Imre, a kapuban Békéssy Imre és Torma Sándor is helyet
      kaptak. A vezetők között találni a volt SZIM- játékos Németh Dénest is.
      1949 őszén, a csapat már a II. osztályban szerepelhetett. Ezt a
      bajnokságot a helyiek már „területinek” nevezték, mivel megyén kívüli
      csapatokkal is meg kellett mérkőzni. Ebben az időszakban Győrön, Lébényen,
      Téten, Győrszentivánon kívül Móváron, Almásfüzitőn, Szőnyben, Pápán,
      Bánhidán is pályára lépett az MSE.
    </p>
    <p>
      1951-től, 25 éven keresztűl a ménfőcsanaki futballcsapat, a járási
      bajnokságban szerepelt. A kezdet a szentiváni pályán 1951. április 8-án
      volt a Győrszentiváni DISZ ellen.
    </p>
    <p>
      A járási bajnokságban szereplő csapatok: Pér, Enese, Gönyű, Rábapatona,
      Nagybarát, Nagybácsa.
    </p>
    <p>
      1951 őszén több bajnokságban is játszott a csapat: Magyar Népköztársaság
      Kupa, Őszi vándorkupa, majd a járási kupa következett. Az eredményeket
      megnyert kupák, és érmek jelzik.
    </p>
    <p>Az 1951-52-es csapat:</p>
    <img class="történelemkép" src="images/RégiKepek/1952_Csapat.jpg" alt="" />
    <ul class="tortlist">
      <li>Süveges György</li>
      <li>Nagy Ferenc</li>
      <li>Koller Vince</li>
      <li>Németh András</li>
      <li>Szalay Lajos</li>
      <li>Kocsis Lajos</li>
      <li>Nagy István</li>
      <li>Molnár Imre</li>
      <li>Sári Jenő</li>
      <li>Varga György</li>
      <li>Kelemen Imre</li>
      <li>Veller János</li>
      <li>Stefanics Ferenc</li>
      <li>Balogh József</li>
      <li>Villand Imre</li>
      <li>Tímár Sándor</li>
      <li>Vulcz Imre</li>
      <li>Venesz László</li>
      <li>Pomogács József</li>
      <li>Varga Káoly</li>
      <li>Süveges László</li>
      <li>Kurucz Zoltán</li>
      <li>Joó Vilmos</li>
      <li>Haán Miksa</li>
      <li>Koller Ferenc</li>
      <li>Koller Imre</li>
      <li>Mészáros József</li>
    </ul>
    <p>
      A csapat vezetői, ebben az időszakban: Krokker Imre, Pécsinger János,
      Németh Dénes, Rigler Imre, Polgár József, Török István.
    </p>
    <p>
      A II. világháborút követő évek nagy társadalmi átalakulásban szerepet
      játszott a sport is. Az 50-es évek elején, a labdarúgáson kívül az
      atlétikai versenyek is beindultak. A labdarúgáshoz hasonlóan az atléták is
      eredményesek voltak. 1953. június 21-én a Győr Járási TSB körzeti
      összetett verseny vándorzászlója Ménfőcsanakra került.
    </p>
    <p>
      Ebben az időszakban is voltak támogatok, néhány név: Mező Gyula, Farkas
      Lajos, dr. Tóth Ferenc, Polgár József, Tar Béla.
    </p>
    <p>
      A magyar labdarúgás a világ élvonalában állt. A sportkör első 30 éves
      viszontagságos időszaka lezárult, a remény érződött, hogy a következő 30
      évben is létezni fog sportélet Ménfőcsanakon.
    </p>
    <p>
      <i>Forrás:</i> Szabady János: Győr-Ménfőcsanak sporttörténetének krónikája
      alakulástól napjainkig
    </p>
    <p>
      <b><i>95 éves a Ménfőcsanaki Sportegyesület</i></b>
    </p>
    <p>
      Nehéz lenne megbecsülni azok számát, akik az elmúlt 85 évben Ménfőcsanak
      színeiben sportoltak, futballoztak, kézilabdáztak vagyí éppen atlétikában
      szereztek elismerést. Nehéz lenne felsorolni mindazokat akik a kék-fehér
      színekért küzdöttek, vagy lelkesítettek a Törekvés, az MSE, a TSZ SE vagy
      a mai Ménfőcsanaki Sportegyesület ügyéért. Az egyesület sokak
      áldozatkészségével érhette el sikereit. Hála és köszönet a
      sportembereknek, pártolóknak mindazért, aki anyagi és erkölcsi támogatást
      nyújtott. Köszönet a sok buzdításért, pártfogásért, a bizalomért, a
      hűségért, a bajnoki pontokért, a jó helyezésekért.<br />
    </p>
    <p>
      Jelentős állomás a 85 éves évforduló. Környékünkön kevés vidéki egyesület
      büszkélkedhet 85 éves fennállással.
    </p>
    <p>
      Hogy kezdődött? A futballt kedvelő fiatalok, többségében iparostanoncok –
      1923-ban elhatárpzták, hogy egyseületet alakítanak. Labdarúgócsapatuk a
      Törekvés SC nevet vette fel. Színüknek a Győri DAC kék-fehér színét
      választották. A gerezdenként megszerzett futballabda hatása felmérhetetlen
      volt! Az alakuló csapatot támogatta Marosi György, kisbaráti szabómester,
      akit elnöküknek választottak. Unger József vendéglős később helyiséget
      biztosított számukra. Ez volt a romantikus kezdet.
    </p>
    <p>
      A leventemozgalom indulásával leventecsapat is szerveződött. Az indulás
      után másfél évtizeddel új korosztály látott futballcsapat-
    </p>
    <p>
      alakításhoz. Az úgynevezett „Pauzni”-csapat vitte tovább Ménfőcsanak
      sportéletét. A II. világháború utolsó időszakában a sportélet is
      megbénult.
    </p>
    <p>
      A labdarúgás fényes korszaka 1946 – 1951 között köazöntött Ménfőcsanakra.
      Kiemelkedett az ún. MSE szereplése, a területi bajnokságra is felkerült.
      Később a járási bajnokságban szerepelt a futballcsapat, majd Győrhöz
      tartozva többször szerzett bajnokságot. A 60-as évek elején jónevű női
      kézilabdacsapata volt a településnek. Széles összefogással létesült
      salakos kézilabdapálya. Egerben megnyerték az Országos Spartakiádot,
      megyei bajnokok lettek. Az NB II-be jutás az osztályzón bukott el. Később
      férfi kézilabdacsapat is alakult, de hosszú távon nem volt működőképes.
    </p>
    <img class="történelemkép" src="images/RégiKepek/1960_Csapat.jpg" alt="" />
    <img
      class="történelemkép"
      src="images/RégiKepek/1960_Csapat_II.jpg"
      alt=""
    />
    <img
      class="történelemkép"
      src="images/RégiKepek/1960_Férfi_Kézilabda.jpg"
      alt=""
    />
    <img
      class="történelemkép"
      src="images/RégiKepek/1960_Női_Kézilabda.jpg"
      alt=""
    />
    <p>
      Az 1970-es évek első felében a megyei II. osztályban szerepelt a
      futballcsapat, ahol 1976-ban bajnokságot nyert és bekerült a megyei I.
      osztályba.
    </p>
    <img class="történelemkép" src="images/RégiKepek/1971_Csapat.jpg" alt="" />
    <img
      class="történelemkép"
      src="images/RégiKepek/1971_Csapat_II.jpg"
      alt=""
    />
    <img class="történelemkép" src="images/RégiKepek/1973_50_év.jpg" alt="" />
    <img class="történelemkép" src="images/RégiKepek/1976_Csapat.jpg" alt="" />
    <p>
      Abban az időben a sportegyesület fő támogatója a helyi MGTSZ volt, így
      biztosítva voltak a feltételek. 1983-ban az egyesület alalkulsásának 60.
      Évfordulójára megírták és kiadták a 6 évtized történetét.
    </p>
    <img class="történelemkép" src="images/RégiKepek/1978_Csapat.jpg" alt="" />
    <img
      class="történelemkép"
      src="images/RégiKepek/1980_Csapat_Tavasz.jpg"
      alt=""
    />
    <img
      class="történelemkép"
      src="images/RégiKepek/1980_Csapat_Ősz.jpg"
      alt=""
    />
    <p>
      A megyei szereplés mellett a Szabad Föld – kupában, az MNK-ban elért
      eredmények magukért beszélnek. 1984. Február 27-én a Rába ETO játszott
      MNK-mérkőzést Ménfőcsanakon, június 9-én pedig a székesfehérvári
      stadionban Szabad Föld-kupa döntőt játszott a Göd csapatával.
      MNK-mérkőzésen megfordult a ménfőcsnaki pályán a VIDEOTON, 1985. Augusztus
      28-án vesztesen hagyta el Ménfőcsanakot a Tatabánya. Az elmúlt 25 év
      kudarca, hogy 1988-ban osztályozón kiesett a megyei I. osztályból a
      csapat, de egy év után visszakerült.
    </p>
    <img class="történelemkép" src="images/RégiKepek/1984_Eto.jpg" alt="" />
    <img class="történelemkép" src="images/RégiKepek/1984_Eto_II.jpg" alt="" />
    <p>
      1993-ban nagy küzdelemben ezüstérmet szerzett a megyei I-ben, majd
      1994-1995-ben bajnokságot nyert és az NB III-ba került. Az ott töltött 3
      évből két bajnoki évet a Bakony – csoportban, 1997-1998. évi bajnokságban
      az NB III. Duna – csoportjában játszik. Az évtől a megyei I. osztályban
      szerepel a csapat.
    </p>
    <img
      class="történelemkép"
      src="images/RégiKepek/1988-89_csapat.jpg"
      alt=""
    />
    <p>2000-től a Ménfőcsanak a megyei II. osztályban szerepelt.</p>
    <p>
      2005-ben, mikor a serdülő, az ifi és az első csapat is bajnok lett ismét
      felkerült a megyei I-be.
    </p>
    <p>2018-ban a Ménfőcsanak ismét feljutott az NB III-ba.</p>
    <p>Az ESK Ménfőcsanak elnökei:</p>
    <p>1997. júliusig: Tar István<br /></p>
    <p>1997. őszén: Tóth Tamás<br /></p>
    <p>1998 – 2005: Reizer Imre<br /></p>
    <p>2005 ősz: Dávid Miklós<br /></p>
    <p>2006 tavasztól: Süveges László<br /></p>
    <p>(Társadalmi e.: Szabó Jenő)<br /></p>
    <p>2008. augusztustól: Turbék István</p>

    <h1 class="cim2">További képek</h1>
    <img
      class="történelemkép"
      src="images/RégiKepek/2012-13_csapat.jpg"
      alt=""
    />
    <img class="történelemkép" src="images/RégiKepek/2013_Csapat.jpg" alt="" />
    <img
      class="történelemkép"
      src="images/RégiKepek/2013_Csapat_II.jpg"
      alt=""
    />
    <img
      class="történelemkép"
      src="images/RégiKepek/2017_Csúcsra_jár.jpg"
      alt=""
    />
    <img class="történelemkép" src="images/RégiKepek/2013_Csapat.jpg" alt="" />
  </div>
</div>
