.navigation {
  z-index: 20;
  position: fixed;
  height: 610px;
  width: 70px;
  background: rgba(20, 165, 165, 0.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  border-left: 10px solid #2b343b;
  overflow-x: hidden;
  transition: width 0.5s;
  backdrop-filter: blur(15px);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
@media (hover: none) {
  .navigation {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .cim {
    visibility: hidden;
    height: 0px;
  }
  .topnav {
    position: fixed;
    visibility: visible;
    width: 100%;
  }
}
.navigation:hover {
  width: 300px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 10px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.list:hover {
  background: linear-gradient(to right, #006eff, #f3f3f300);
}
.navigation ul li.active {
  background: #0a2fff;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li.active a::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
}
.navigation ul li.active a::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 25px;
  z-index: 1;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.cim {
  text-align: center;
  color: aliceblue;
  font-size: 70px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  background-color: #1b58b9;
}
.margin_auto {
  margin-left: auto;
  margin-right: auto;
}
.navbarkep {
  width: 50px;
  margin-bottom: 10px;
}
.ado {
  text-align: center;
  width: 90%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 5%;
}
.ado_szoveg {
  text-align: center;
  z-index: 6;
  font-size: 25px;
}
.adoosze {
  margin-bottom: 20px;
  font-size: 20px;
}
.col-lg-4 {
  margin: 2px;
}
.tab-content {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  transform: translateY(-40px);
}
.carousel-inner {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
h1 {
  color: rgb(0, 0, 0);
  background: rgba(69, 146, 146, 0.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.footer {
  bottom: 0px;
  width: 90%;
  color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  background-color: #4177ce83;
  backdrop-filter: blur(5px);
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 40px;
  height: 223px;
}
.tamogatokcim {
  text-align: center;
  margin-bottom: 0px;
}
.tamogatokkep {
  width: 60px;
  margin-top: 0px;
}
.külső {
  position: fixed;
  z-index: 200;
}
.belső {
  width: 20%;
  height: 200px;
  background: rgb(33, 78, 223);
  position: fixed;
  top: 40%;
  border-radius: 20px;
  z-index: 100;
  left: 40%;
}
.új_lista {
  color: white;
}
.új_lista:hover {
  color: rgb(0, 0, 0);
}
.ado2 {
  margin-top: 20px;
}
@media screen and (max-width: 1100px) {
  .belső {
    width: 40%;
    top: 200px;
    left: 30%;
  }
}
@media screen and (max-width: 500px) {
  .belső {
    width: 60%;
    top: 200px;
    left: 20%;
  }
}
@media screen and (max-width: 500px) {
  .belső {
    width: 90%;
    top: 200px;
    left: 5%;
  }
}
.facebok_incatgram {
  color: #ffffff;
  font-size: 50px;
}
.bezár {
  width: 50px;
  height: 50px;
  background: black;
  float: right;
  border-radius: 20px;
}
.szöveg {
  padding-top: 20px;
  padding-left: 20px;
  margin: 0;
  height: auto;
  width: auto;
}
.beljebb {
  transform: translateX(-120px);
}
@media screen and (max-width: 1300px) {
  .beljebb {
    transform: translateX(-40px);
  }
}
@media screen and (max-width: 730px) {
  .beljebb {
    transform: translateX(-60px);
  }
}
@media screen and (max-width: 540px) {
  .beljebb {
    transform: translateX(-30px);
  }
}
@media screen and (max-width: 540px) {
  .beljebb {
    align-items: center;
  }
}
.center {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.tamogatolejebb {
  transform: translateX(10px);
  margin-top: 10px;
  margin-left: 20px;
}

.carousel-inner {
  width: 60%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.cim2 {
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  background-color: #1b58b9;
  width: 20%;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

section {
  padding: 50px;
  background: #000;
}

::-webkit-scrollbar {
  width: 0;
}
#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.05);
}
#prograssbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  max-height: 100%;
  background: linear-gradient(to top, #1919c0, #4a84d1);
}
.mobile-menü-icon {
  visibility: visible;
  width: 40px;
  height: 40px;
}

.mobile-container {
  max-width: 480px;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  height: 60px;
  overflow: hidden;
  z-index: 31;
  background: rgba(12, 42, 179, 0.5);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}
.navopen {
  transition: width 0.5s;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.navopen {
  height: 60px;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active2 {
  background-color: #1f3dc0;
  color: white;
  font-size: 40px;
  padding-left: 10px;
  height: 70px;
}

.centered {
  width: 96%;
  position: absolute;
  top: 20%;
  left: 50%;
  color: #1919c0;
  animation: beuszas 2s;
  font-size: 2.4vw;
  transform: translate(-50%, -50%);
}
@keyframes beuszas {
  from {
    top: 0px;
  }
  to {
  }
}
.centered2 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #1919c0;
  animation: beuszas 2s;
  font-size: 1.5vw;
  transform: translate(-50%, -50%);
}
.facebook_kep {
  z-index: 10;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 20px;
  right: 20px;
  color: #17178b;
}
.instagram_kep {
  z-index: 10;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 20px;
  right: 80px;
  color: #a73698;
}
.maps_kep {
  z-index: 10;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 20px;
  right: 140px;
  color: #1daa2f;
}
.maps_kep:hover {
  color: rgb(255, 255, 255);
}
.facebook_kep:hover {
  color: rgb(255, 255, 255);
}
.instagram_kep:hover {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 740px) {
  .centered {
    font-size: 3vw;
  }
  .centered2 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 600px) {
  .centered {
    font-size: 5vw;
  }
  .centered2 {
    font-size: 5vw;
  }
}
.carousel-item img {
  border-radius: 20px;
}
.topnav {
  transition: height 0.5s;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.menu-outline {
  font-size: 60px;
  float: right;
}
.topnav:hover {
  height: 520px;
}
.rf {
  padding-bottom: 10px;
}
.tamogatók_1 {
  padding-top: 20px;
}

@media screen and (max-width: 520px) {
  .active2 {
    font-size: 30px;
    height: 50px;
  }
  .menu-outline {
    font-size: 50px;
  }
}
@media screen and (max-width: 400px) {
  .active2 {
    font-size: 20px;
    height: 40px;
  }
  .menu-outline {
    font-size: 40px;
  }
}
@media screen and (max-width: 721px) {
  .tab-content {
    margin-top: 30px;
  }
  .col-sm-1,
  .tamogatokkep,
  .tamogatokcim {
    width: 0;
    height: 0;
  }
  .navigation {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .cim {
    visibility: hidden;
    height: 0px;
  }

  .topnav {
    position: fixed;
    visibility: visible;
    width: 100%;
  }
  .cim2 {
    visibility: hidden;
  }

  @media screen and (max-width: 1025px) {
    .carousel-inner {
      width: 70%;
    }
    .carousel-inner {
      margin-top: 1050px;
    }
    .col-sm-1,
    .tamogatokkep,
    .tamogatokcim {
      width: 0;
      height: 0;
    }
    .tamogatokkep {
      width: 45px;
      margin-top: 0px;
    }
    .navigation {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .cim {
      visibility: hidden;
      height: 0px;
    }
    .topnav {
      position: fixed;
      visibility: visible;
      width: 100%;
    }
  }
  @media screen and (max-width: 1225px) {
    .cim {
      visibility: hidden;
      height: 0px;
    }
  }
  @media screen and (max-width: 991px) {
    .carousel-inner {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1025px) and (max-height: 1400px) {
  .navigation {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .cim {
    visibility: hidden;
    height: 0px;
  }
  .topnav {
    position: fixed;
    visibility: visible;
    width: 100%;
  }
  .tab-content {
    margin-top: 90px;
  }
  .carousel-inner {
    margin-top: 150px;
  }
}

@media screen and (max-height: 610px) {
  .navigation {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .carousel-inner {
    margin-top: 150px;
  }
  .cim {
    visibility: hidden;
    height: 0px;
  }
  .cim2 {
    visibility: hidden;
  }
  .topnav {
    position: fixed;
    visibility: visible;
    width: 100%;
  }
  .navopen a {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .topnav:hover {
    height: 360px;
  }
}
@media screen and (max-width: 996px) {
  .adoosze {
    font-size: 20px;
  }
  .footer {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    height: 350px;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    height: 300px;
  }
  .ado {
    display: none;
  }
}
