<div class="emel">
  <a href="https://www.facebook.com/eskmenfocsanakegyesulet" target="_blank">
    <ion-icon name="logo-facebook" class="facebook_kep"></ion-icon>
  </a>
  <a href="https://www.instagram.com/eskmenfocsanakegyesulet" target="_blank">
    <ion-icon name="logo-instagram" class="instagram_kep"></ion-icon>
  </a>
  <a
    href="https://www.google.com/maps/place/ESK+M%C3%A9nf%C5%91csanak+Labdar%C3%BAg%C3%B3+Egyes%C3%BClet/@47.6259376,17.6026821,187m/data=!3m1!1e3!4m5!3m4!1s0x0:0x46c09d32487f70ad!8m2!3d47.6255826!4d17.6033144"
    target="_blank"
  >
    <ion-icon name="map-outline" class="maps_kep"></ion-icon>
  </a>
  <h1 class="cim">LAVILL Esk Ménfőcsanak</h1>
  <br />
  <br />
  <div class="tab-content" id="tab-content">
    <div id="home" class="container tab-pane active">
      <div id="kep" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#kep" data-slide-to="0" class="active"></li>
          <li data-target="#kep" data-slide-to="1"></li>
          <li data-target="#kep" data-slide-to="2"></li>
          <li data-target="#kep" data-slide-to="3"></li>
          <li data-target="#kep" data-slide-to="4"></li>
          <li data-target="#kep" data-slide-to="5"></li>
          <li data-target="#kep" data-slide-to="6"></li>
          <li data-target="#kep" data-slide-to="7"></li>
          <li data-target="#kep" data-slide-to="8"></li>
          <li data-target="#kep" data-slide-to="9"></li>
          <li data-target="#kep" data-slide-to="10"></li>
          <li data-target="#kep" data-slide-to="11"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="slideshowPhotoshop/csanak-dac-w.png"
              width="100%"
              height="auto"
            />
          </div>
          <div class="carousel-item">
            <div class="container">
              <img
                src="slideshowPhotoshop/Kész/következomecs.jpg"
                width="100%"
                height="auto"
              />
              <div id="demo" class="centered">
                A következő meccs adataI nem elérhetők.
              </div>
              <div id="demo2" class="centered2"></div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/2025/Csapat.jpg" width="100%" height="auto" />
          </div>
          <div class="carousel-item">
            <img
              src="images/csapatok/U19/U19_Csapat .JPG"
              width="100%"
              height="auto"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/csapatok/U16_U17/U17_Csapat.JPG"
              width="100%"
              height="auto"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/csapatok/U15/U15_Csapat.JPG"
              width="100%"
              height="auto"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/csapatok/U14/U14_Csapat.JPG"
              width="100%"
              height="auto"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/csapatok/U13/U13_Csapat.JPG"
              width="100%"
              height="auto"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/csapatok/U12/U12_Csapat.JPG"
              width="100%"
              height="auto"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/csapatok/U10_U11/U10_U11_Csapat.jpg"
              width="100%"
              height="auto"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/csapatok/u9/U9_Csapat.jpg"
              width="100%"
              height="auto"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/csapatok/u8/U8_Csapat.jpg"
              width="100%"
              height="auto"
            />
          </div>
        </div>
        <a class="carousel-control-prev" href="#kep" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#kep" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
  <br />
</div>

<div class="footer" id="footer">
  <div class="container le ado2">
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xl-1 col-lg-1"></div>
      <div class="kep col-md-4 col-sm-4 col-12 col-xl-4 col-lg-4">
        <img class="ado" src="images/ado.jpg" alt="" />
      </div>
      <div
        class="ado_szoveg col-md-5 col-sm-6 col-12 col-xl-3 col-lg-4"
        id="szélesség"
      >
        <p class="adoosze"><b>Adószám: 19881258-1-08</b></p>
        <p class="adoosze">Támogassa adója 1%-val idén is egyesületünket.</p>
      </div>

      <div
        class="col-md-12 col-sm-12 col-12 col-xl-4 col-lg-12 w3-content w3-section margin_auto"
        style="max-width: 200px"
      >
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/robo.tech.png"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/20246047_1990116661259348_648253412230113449_n.jpg"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/ADEXGO-logo.png"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/ALCUFER.LOGOG.KICSI.jpg"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/bandf.png"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/bedo_pekseg_logo.jpg"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/eurokardan.png"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/laguna.svg"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/gyorszol-logo-transparent.png"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          id="logo"
          src="images/tamogatok/Győr_logo.png"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/herold.jpg"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/lavill-kft.png"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/SZQlong-masolata.jpg"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/whb-logo-webbel-pan.jpg"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/MezSport Logo1.png"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/pv-logo.png"
          style="width: 100%"
        />
        <img
          class="mySlides tamogatók_1"
          src="images/tamogatok/dobos-box-logo-02.svg"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
</div>
