<div class="emel">
  <h1 class="cim">LAVILL Esk Ménfőcsanak</h1>
  <h1 class="cim2">Dokumentumok</h1>
  <img src="images/tao2.jpg" alt="" class="taokep" />

  <h3 class="tamogatascim">2025</h3>
  <table class="tamogatastable">
    <tr>
      <th>SFP</th>
      <th>Határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2025/Menfocsanak határozat.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2025/Menfocsanak SFP.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>

  <iframe
    src="/pdf/2025/Menfocsanak határozat.pdf"
    frameborder="0"
    width="500px"
    height="700px"
    style="display: block; margin-left: auto; margin-right: auto"
  ></iframe>
  <br />
  <iframe
    src="/pdf/2025/Menfocsanak SFP.pdf"
    frameborder="0"
    width="500px"
    height="700px"
    style="display: block; margin-left: auto; margin-right: auto"
  ></iframe>

  <h3 class="tamogatascim">2024</h3>
  <table class="tamogatastable">
    <tr>
      <th>SFP határozat_82425</th>
      <th>SFP piszkozat_82425</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2024/2024_Határozat_2.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2024/SFP piszkozat_2.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <!-- <iframe
				src="/pdf/2024/2024_Határozat_2.pdf"
				frameborder="0"
				width="500px"
				height="700px"
				style="display: block; margin-left: auto; margin-right: auto"
			></iframe>
			<br />
			<iframe
				src="/pdf/2024/SFP piszkozat_2.pdf"
				frameborder="0"
				width="500px"
				height="700px"
				style="display: block; margin-left: auto; margin-right: auto"
			></iframe> -->

  <table class="tamogatastable">
    <tr>
      <th>SFP határozat</th>
      <th>SFP piszkozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2024/2024_Határozat.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2024/SFP piszkozat.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>

  <!-- <iframe
				src="/pdf/2024/2024_Határozat.pdf"
				frameborder="0"
				width="500px"
				height="700px"
				style="display: block; margin-left: auto; margin-right: auto"
			></iframe>
			<br />
			<iframe
				src="/pdf/2024/SFP piszkozat.pdf"
				frameborder="0"
				width="500px"
				height="700px"
				style="display: block; margin-left: auto; margin-right: auto"
			></iframe> -->

  <h3 class="tamogatascim">2023</h3>

  <table class="tamogatastable">
    <tr>
      <th>SFP kérelem</th>
      <th>SFP határozat</th>
      <th>Polgárőrségi támogatás</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2023/2023 Menfocsanak sfp_kerelem.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2023/2023 Menfocsanak sfp_jh_.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2023/polgárőrség.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>

  <h3 class="tamogatascim">2022</h3>
  <table class="tamogatastable">
    <tr>
      <th>SFP piazkozat</th>
      <th>Határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2022/SFP piszkozat-pages-deleted.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2022/Menfócsanak határozat 2022.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2021</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>SFP-51915/2021/MLSZ</p>
        <p>Egyéb forrás saját forrás, kiegészítő támogatás</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2021/Sportfejlesztés/1.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2021/Jóváhagyó határozat/1.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>SFP-44175/2021/MLSZ</p>
        <p>Egyéb forrás saját forrás, kiegészítő támogatás</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2021/Sportfejlesztés/2.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2021/Jóváhagyó határozat/2.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>SFPHPM01-431962020MLSZ</p>
        <p>Egyéb forrás saját forrás, kiegészítő támogatás</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2021_2/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2021_2/jh.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2020</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>be/SFP-36175/2020/MLSZ</p>
        <p>Tárgyi eszköz beruházás, felújítás</p>
        <p>(előfinanszírozott nem ingatlan)</p>
        <p>Utánpóltlás-nevelés feladatainak ellátása</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2020/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2020/jh.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2019</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>be/SFP-29175/2019/MLSZ</p>
        <p>Tárgyi eszköz beruházás, felújítás</p>
        <p>(előfinanszírozott nem ingatlan)</p>
        <p>Utánpóltlás-nevelés feladatainak ellátása</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2019/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2019/jh.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2018</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>SFP-221752018MLSZ</p>
        <p>Tárgyi eszköz beruházás, felújítás</p>
        <p>(előfinanszírozott nem ingatlan, előfinanszírozott ingatlan)</p>
        <p>Utánpóltlás-nevelés feladatainak ellátása</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2018/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2018/jh.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2017</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>SFP-16175/2017/MLSZ</p>
        <p>Tárgyi eszköz beruházás, felújítás</p>
        <p>(előfinanszírozott nem ingatlan, előfinanszírozott ingatlan)</p>
        <p>Utánpóltlás-nevelés feladatainak ellátása</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2017/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2017/jh.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2016</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>SFPHPM01-11175/2016/MLSZ</p>
        <p>Tárgyi eszköz beruházás, felújítás</p>
        <p>(előfinanszírozott nem ingatlan)</p>
        <p>Utánpóltlás-nevelés feladatainak ellátása</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2016/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2016/jh.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2015</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>2015 -be/SFP-08175/2015/MLSZ</p>
        <p>Tárgyi eszköz beruházás, felújítás</p>
        <p>(előfinanszírozott nem ingatlan)</p>
        <p>Utánpóltlás-nevelés feladatainak ellátása</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2015/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2015/jh.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2014</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>2013-2014 év:</p>
        <p>Előfinanszírozással megvalósítandó</p>
        <p>tárgyi eszköz beruházás, felújítás</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
      <th>Jóváhagyó határozat</th>
    </tr>
    <tr>
      <td>
        <a href="/pdf/2014/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
      <td>
        <a href="/pdf/2014/jh.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2013</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>2013 év:</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
    </tr>
    <tr>
      <td rowspan="2">
        <a href="/pdf/2013/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
  <h3 class="tamogatascim">2012</h3>
  <table class="tamogatastable">
    <tr>
      <td colspan="2">
        <p>2012 év:</p>
        <p>Előfinanszírozással megvalósítandó</p>
        <p>tárgyi eszköz beruházás, felújítás, utánpótlás nevelés</p>
      </td>
    </tr>
    <tr>
      <th>Sportfejlesztési program</th>
    </tr>
    <tr>
      <td rowspan="2">
        <a href="/pdf/2012/sp.pdf" download="">
          <ion-icon class="retek" name="arrow-down-circle-outline"></ion-icon>
        </a>
      </td>
    </tr>
  </table>
</div>
